@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Pretendard-Regular";
  }
  
  ul, ol, li, a {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  header {
    width: 100%;
  }
  header .nav_bar {
    width: 100%;
    border: 1px solid #e6e6e6;
  }
  header .nav_bar .nav_bar_con {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  header .nav_bar .nav_bar_con .nav_bar_search {
    display: flex;
    align-items: center;
  }
  header .nav_bar .nav_bar_con .nav_bar_search li:nth-of-type(1) a {
    height: 36px;
    display: block;
    padding: 8px 21px 9px;
    background-color: #0c6eaf;
    color: #fff;
    font-size: 0.87rem;
  }
  header .nav_bar .nav_bar_con .nav_bar_search li:nth-of-type(2) {
    display: flex;
    align-items: center;
  }
  header .nav_bar .nav_bar_con .nav_bar_search li:nth-of-type(2) a {
    height: 36px;
    display: block;
    padding: 8px 21px 9px;
    background-color: #1090fd;
    color: #fff;
    font-size: 0.87rem;
    font-weight: 800;
  }
  header .nav_bar .nav_bar_con .nav_bar_search li:nth-of-type(2) p {
    font-size: 0.85rem;
    padding-left: 5px;
  }
  header .nav_bar .nav_bar_con .nav_bar_login {
    display: flex;
  }
  header .nav_bar .nav_bar_con .nav_bar_login li {
    height: 36px;
  }
  header .nav_bar .nav_bar_con .nav_bar_login li a {
    padding: 8px 13px;
    font-size: 0.87rem;
    line-height: 36px;
  }
  header .header_sec {
    width: 100%;
  }
  header .header_sec .header_sec_con {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .header_sec .header_sec_con .header_sec_logo {
    display: flex;
    align-items: center;
    height: 100px;
  }
  header .header_sec .header_sec_con .h_sec_search_box {
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
  }
  header .header_sec .header_sec_con .h_sec_search_box .h_sec_search_con {
    display: flex;
    align-items: center;
    width: 100%;
    border: 0.18rem solid #1090FD;
    border-radius: 2rem;
  }
  header .header_sec .header_sec_con .h_sec_search_box .h_sec_search_con input {
    width: 80%;
    height: 55px;
    border: none;
    margin: 0 1.5rem;
  }
  header .header_sec .header_sec_con .h_sec_search_box .h_sec_search_con input:focus {
    outline: none;
  }
  header .header_sec .header_sec_con .h_sec_search_box .h_sec_search_con .h_sec_search_img img {
    width: 25px;
  }
  header .header_menus {
    width: 100%;
  }
  header .header_menus .header_menus_con {
    width: 1310px;
    margin: 0 auto;
    display: flex;
  }
  header .header_menus .header_menus_con .header_menus_menu ul {
    display: flex;
    align-items: center;
  }
  header .header_menus .header_menus_con .header_menus_menu ul li {
    margin: 0 23px;
    height: 73px;
    display: flex;
    align-items: center;
    font-size: 1.16rem;
    font-weight: bold;
  }
  header .header_menus .header_menus_con .header_menus_menu ul li img {
    width: 24px;
  }