@charset "utf-8";

@import "reset" , "common";

section{
    width:100%;
    background-color:#FAFBFE;
    .sec_container1{
        display:flex;
        align-items:center;
        width:1280px;
        height:157px;
        margin:0 auto;
        ul{
            display:flex;
            li{
                width:259px;
                .sec_container1_box{
                    width:100%;
                    display:flex;
                    align-items:center;
                    .img{
                        width:80px;
                        height:80px;
                        border:0.5px solid #e6e6e6;
                        border-radius:70%;
                        background:no-repeat center / cover;

                    }
                    .cont{
                        width:65%;
                        padding : 0 0 0 7px;
                        .title{
                            display:flex;
                            flex-wrap:wrap;
                            font-size:0.9rem;
                            padding:0 0 7px 0;
                        }
                        .author{
                            display:flex;
                            font-size:0.85rem;
                            color:#A1A2A2;
                        }
                    }
                }
            }
        }
    }
    .sec_container2{
        width:100%;
        .sec_container2_con{
            width:1280px;
            margin:0 auto;
            display:flex;
            justify-content:space-between;
           .img_box{
            width:800px;
            height:365px;
            margin-top:30px;
           } 
           .sec_container2_seller{
            width:401px;
            height:365px;
            margin-top:30px;
            .seller_header{
                margin-bottom: 18px;
                ul{
                    display:flex;
                    justify-content:space-between;
                    li{
                        width:125px;
                        background-color:#fff;
                        padding:8px 0;
                        text-align:center;
                        box-shadow : 0 4px 20px 0 rgba(105, 125, 155, 0.15);
                        text-align:center;
                        font-size:0.95rem;
                        color :#666;
                    }
                    .blue_button{
                        color:#1090fd;
                        border: 2px solid #1090fd;
                        box-shadow: none;
                    }
                }
           } 
           .seller_content_box{
                width:100%;
                .seller_contents{
                    li{
                        width:100%;
                        .seller_box{ //ajax 시작
                            width:100%;
                            display:flex;
                            align-items:center;
                            padding:12px 0 13px;
                            .img{
                                width:126px;
                                height:83px;
                                margin-right: 20px
                            }
                            .cont{
                                width: 59%;
                                .title{
                                    font-size:0.9rem;
                                }
                                .author{
                                    display:flex;
                                    font-size:0.85rem;
                                    color:#9FA19F;
                                    padding-top:4px;
                                }
                                .price{
                                    margin-top:10px;
                                    display:flex;
                                    p:nth-of-type(1){
                                        font-weight:bold;
                                    } 
                                }
                            }
                        }
                    }
                    li:nth-of-type(2){ 
                        border-top: 1px solid #e6e6e6;
                        border-bottom: 1px solid #e6e6e6;
                    }
                    li:nth-of-type(3){ 
                        padding-bottom: 0;
                    }
                }

           }
        }
    }
  }
}
article{
    width:100%;
    background-color:#FAFBFE;
    .art1_container{
        width:1290px;
        margin:0 auto;
        padding-top:105px;
        .container1{
            width:100%;
            display:flex;
            .container1_header{
                width:260px;
                height:170px;
                display:flex;
                flex-direction:column;
                justify-content:space-between;
                .container1_header_title{
                    h1{
                        font-size:1.9rem;
                        margin-bottom:20px;
                    }
                    p{
                        color: #A69999;
                    }
                }
                .bestseller_subtitle{
                    p{font-size:0.9rem;
                      letter-spacing: -.01em;
                    }
                }
            }
            .container1_content_box{
                width:1050px;
                height:780px;
                ul{
                    width:100%;
                    height:100%;
                    display:flex;
                    flex-wrap:wrap;
                    align-content:space-between;
                    li{
                        width:20%;
                        padding: 0 15px;
                        .bestseller_box{
                            display:flex;
                            flex-wrap:wrap;
                            .img{
                                width:100%;
                                height:258px;
                                margin-bottom:10px;
                                position:relative;
                                .bookimg_hovericon{
                                    width:100%;
                                    height:100%;
                                    display:flex;
                                    align-items:center;
                                    justify-content:center;
                                    .hover_icon{
                                        width:50px;
                                        height:50px;
                                        background-color:#fff;
                                        border-radius:100%;
                                        opacity:0;
                                    }
                                    .hover_icon:nth-of-type(1){
                                        margin-right:10px;
                                    }
                                }
                            }
                            .img:hover{
                                .hover_icon{
                                    opacity:0.8;
                                }
                            }
                            .num{
                                width:10%;
                                font-size:0.75rem;
                            }
                            .cont{
                                width:90%;
                                .title{
                                    font-size:0.9rem;
                                    height:38px;
                                    line-height: 1.2rem;
                                    margin-bottom:6px;
                                }
                                .author{
                                    display:flex;
                                    font-size:0.82rem;
                                    color:#999999;
                                    height:32px;
                                }
                                .price{
                                    display:flex;
                                    height:20px;
                                    h2{
                                        font-size:1rem;
                                    }
                                    p{
                                        font-size:1rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .art1_container2{
        width:1290px;
        margin:0 auto;
        padding-top:105px;
        .container1{
            width:100%;
            display:flex;
            .container1_header{
                width:260px;
                height:170px;
                display:flex;
                flex-direction:column;
                justify-content:space-between;
                .newbook_title{
                    h1{
                        font-size:1.9rem;
                        margin-bottom:20px;
                    }
                    p{
                        color: #A69999;
                    }
                }
                .newbook_subtitle{
                    p{font-size:0.9rem;
                      letter-spacing: -.01em;
                    }
                }
            }
            .container1_content_box{
                width:1050px;
                ul{
                    width:100%;
                    height:100%;
                    display:flex;
                    li{
                        width:20%;
                        padding: 0 15px;
                        .newbook_box{
                            display:flex;
                            flex-wrap:wrap;
                            .img{
                                width:100%;
                                height:258px;
                                margin-bottom:10px;
                                position:relative;
                                .bookimg_hovericon{
                                    width:100%;
                                    height:100%;
                                    display:flex;
                                    align-items:center;
                                    justify-content:center;
                                    .hover_icon{
                                        width:50px;
                                        height:50px;
                                        background-color:#fff;
                                        border-radius:100%;
                                        opacity:0;
                                    }
                                    .hover_icon:nth-of-type(1){
                                        margin-right:10px;
                                    }
                                }
                            }
                            .img:hover{
                                .hover_icon{
                                    opacity:0.8;
                                }
                            }
                            .cont{
                                width:90%;
                                .title{
                                    font-size:0.9rem;
                                    height:38px;
                                    line-height: 1.2rem;
                                    margin-bottom:6px;
                                }
                                .author{
                                    display:flex;
                                    font-size:0.82rem;
                                    color:#999999;
                                    height:32px;
                                }
                                .price{
                                    display:flex;
                                    height:20px;
                                    h2{
                                        font-size:1rem;
                                    }
                                    p{
                                        font-size:1rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .article_sec{
        width:100%;
        position:relative;
        background-color:#1090FD;
        margin: 110px 0 20px;
        padding-top:80px;
        background: url(../img/store_bg.jpg) top left no-repeat;
        .art_sec_cont_box{
            display:flex;
            flex-direction:column;
            justify-content:center;
            width:1280px;
            height:100%;
            margin:0 auto;
            .sec_cont_title{
                color:#fff;
                h1{
                    font-size:2rem;
                    margin-bottom:15px;
                }
            }
            .sec_cont_menu{
                display:flex;
                justify-content:end;
                margin-right:140px;
                li{
                    margin-left: 80px;
                    a{
                        display: flex;
                        flex-direction:column;
                        align-items:center;
                        .circle{
                            width:198px;
                            height:198px;
                        }
                        .circle_cont{
                            display:flex;
                            flex-direction:column;
                            align-items:center;
                            margin-top:15px;
                            h3{
                                margin-bottom:10px;
                            }
                            p{
                                color:#999999;
                            }
                        }
                    }
                }
            }
        }
    }
    .art1_container3{
        width:1290px;
        margin:0 auto;
        padding-top:105px;
        .container1{
            width:100%;
            display:flex;
            .container1_header{
                width:260px;
                height:400px;
                display:flex;
                flex-direction:column;
                justify-content:space-between;
                .container1_header_title{
                    h1{
                        font-size:1.9rem;
                        margin-bottom:20px;
                    }
                    p{
                        color: #A69999;
                    }
                }
                .container1_header_menu{
                    ul{
                        width:100%;

                        li{ 
                            width:130px;
                            height:32px;
                            padding: 4px 18px 2px 14px;
                            margin-bottom:4px;
                        }
                        .btn6.container3_menu{
                            border:2px solid #1090fd;
                        }
                        .btn6{
                            position: relative;
                            text-decoration: none;
                            display:inline-block;

                            border:1px solid transparent; 
                             -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
                            transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
                          }
                          
                          .btn6::before {
                            content: '';
                            position: absolute;
                            left: 0px;
                            bottom:0px;
                            width: 0%;
                            height:2px;
                            background: #58b0fa;
                            display: block;
                            -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
                            transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
                          }
                          
                          .btn6:hover::before {
                            width:100%;
                          }
                          
                          .btn6::after {
                            content: '';
                            position: absolute;
                            right: 0px;
                            top:0px;
                            width: 0%;
                            height:2px;
                            background: #58b0fa;
                            -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
                            transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
                          }
                          .btn6:hover::after {
                            width:100%;
                          }
                          .btn6:hover{
                            border-left:1px solid #58b0fa; 
                            border-right:1px solid #58b0fa;
                          }
                    }
                }
                .container1_header_subtitle{
                    p{font-size:0.9rem;
                      letter-spacing: -.01em;
                    }
                }
            }
            .container1_content_box{
                width:1050px;
                height:780px;
                ul{
                    width:100%;
                    height:100%;
                    display:flex;
                    flex-wrap:wrap;
                    align-content:space-between;
                    li{
                        width:20%;
                        padding: 0 15px;
                        .recommand_box{
                            display:flex;
                            flex-wrap:wrap;
                            .img{
                                width:100%;
                                height:258px;
                                margin-bottom:10px;
                                position:relative;
                                .bookimg_hovericon{
                                    width:100%;
                                    height:100%;
                                    display:flex;
                                    align-items:center;
                                    justify-content:center;
                                    .hover_icon{
                                        width:50px;
                                        height:50px;
                                        background-color:#fff;
                                        border-radius:100%;
                                        opacity:0;
                                    }
                                    .hover_icon:nth-of-type(1){
                                        margin-right:10px;
                                    }
                                }
                            }
                            .img:hover{
                                .hover_icon{
                                    opacity:0.8;
                                }
                            }
                            .cont{
                                width:90%;
                                .title{
                                    font-size:0.9rem;
                                    height:38px;
                                    line-height: 1.2rem;
                                    margin-bottom:6px;
                                }
                                .author{
                                    display:flex;
                                    font-size:0.82rem;
                                    color:#999999;
                                    height:32px;
                                }
                                .price{
                                    display:flex;
                                    height:20px;
                                    h2{
                                        font-size:1rem;
                                    }
                                    p{
                                        font-size:1rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .art1_container4{
        width:1290px;
        margin:0 auto;
        padding-top:135px;
        padding-bottom:15px;
        .container4_header{
            width: 100%;
            display:flex;
            flex-direction:column;
            align-items:center;
            p{
                font-size:0.93rem;
                color:#999;
                padding: 20px 0;
            }
            img{
                width:65px;
            }
        }
        .container4_con{
            width:100%;
            margin-top:23px;
            ul{
                width:100%;
                height:100%;
                display:flex;
                flex-wrap:wrap;
                li{
                    width:20%;
                    height:234px;
                    overflow: hidden;
                    .story_box{
                        position:relative;
                        .img{
                            width:100%;
                            height:100%;
                            transition: all 0.2s linear;
                        }
                        .cardbook_pan{
                            display:none;
                            width:100%;
                            height:100%;
                            background-color:#27AFB8;
                            opacity:0.9;
                            transition: all 0.2s linear;
                            position:absolute;
                            top:0px;
                            left:0px;
                            .cont{
                                width:100%;
                                height:100%;
                                display:flex;
                                flex-direction:column;
                                align-items:center;
                                justify-content:center;
                                .title{
                                    color:#fff;
                                    margin-bottom:10px;
                                }
                                .author{
                                    color:#fff;
                                    display:flex;
                                    font-size:0.9rem;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
    .noti{
        width:100%;
        background-color:#F5F8FB;
        display:flex;
        margin-top:105px;
        padding-top: 77px;
        padding-bottom: 75px;
        .noti_box{
            width:1280px;
            margin: 0 auto;
            display:flex;
            justify-content:space-between;
            .noti_box1{
                    width:50%;
                    display:flex;
                    .noti_header{
                        width:140px;
                        height:100px;
                        display:flex;
                        flex-direction:column;
                        justify-content:space-between;
                        h3{color:#005BBB}
                        p{
                            font-size:0.9rem;
                            color:#555;
                        }
                    }
                    .noti_cont{
                        width:100%;
                        height:100%;
                        ul{
                            display:flex;
                            flex-direction:column;
                            justify-content:space-between;
                            width:100%;
                            height:100%;
                            
                        }
                    }
                }

        }  
    }

}






