@import "reset" , "common";

article{
    width:100%;
    #book_info_box{
        width:1280px;
        margin:0 auto;
        .info_header{
            width:100%;
            height:60px;
            border-bottom:1px solid #d7d7d7;
            .header_cont{
                width:31%;
                height:100%;
                display:flex;
                justify-content:space-between;
                align-items:center;
                font-size:0.93rem;
                img{
                    width:13px;
                }
            }
        }
        .info_content{
            width:100%;
            margin: 40px 0px;
            .box{
                width:100%;
                display:flex;
                justify-content:space-between;
                .img{
                    width:385px;
                    height:570px;
                    background-color: antiquewhite;
                }
                .cont{
                    width:57%;
                    .title{
                        p{
                            font-size:1.35rem;
                        }
                    }
                    .author{
                        padding-top:10px;
                        padding-bottom:30px;
                        border-bottom:2px solid #999999;
                        p{
                            color:#9999A3;
                            float: left;                            
                        }
                        p:nth-of-type(4){
                            font-size:0.8rem;
                            float: right;
                        }
                    }
                    table{
                        margin-top: 20px;
                        width:100%;
                        border-bottom:1px solid #e6e6e6;
                        tr{
                            th{

                                width:30%;
                                font-size:0.9rem;
                                text-align:left;
                                padding-bottom:15px;
                                color:#333333;

                            }
                            td{
                                width:100%;
                                display:flex;
                                padding-bottom:15px;
                                align-items:center;
                                font-size:0.9rem;
                                color:#666666;
                            }
                            dl{
                                display:flex;
                                border:1px solid #e6e6e6;
                                dd{
                                    button{
                                        width:35px;
                                        height:35px;
                                        border:none;
                                        background-color:#D8D8D8;
                                        font-size:1.5rem;
                                    }
                                    input{
                                        width:68px;
                                        height:35px;
                                        border:none;
                                        background-color:#fff;
                                        font-size:1rem;
                                        border:none;
                                        outline:none;
                                        text-align:center;
                                    }
                                }
                            }
                        }
                    }
                    .total{
                        
                        display:flex;
                        justify-content:flex-end;
                        margin-top:20px;
                        p{
                            font-size:1.3rem;
                        }
                        p:nth-of-type(2){
                            font-weight:bold;
                        }
                    }
                    .pay_button_box{
                        width:100%;
                        margin-top:60px;
                        .pay_buttons{
                            display:flex;
                            button{
                                width:33.333%;
                                height:45px;
                                border:none;
                                color:#fff;
                                font-size:1rem;
                            }
                            button:nth-of-type(1){
                                background-color:#1090FD;
                            }
                            button:nth-of-type(2){
                                background-color:#123A8E;
                            }
                            button:nth-of-type(3){
                                width:25%;
                                color:#333333;
                                background-color:#fff;
                                border:2px solid #333333;
                                margin-left:60px;
                            }
                        }
                    }

                }
            }
        }
        .best_seller_cont{
            margin-top:180px;
            width:100%;
            overflow:hidden;
            ul{
                width:300%;
                display:flex;
                margin-top:20px;
                li{
                    width:188.333px;
                    height:400px;
                    margin-right:30px;  
                    a{  
                        width:100%;
                        height:100%;
                        .img{
                            width:100%;
                            height:265px;
                        }
                        .cont{
                            margin-top:15px;
                            .book_title{
                                width:100%;
                                height:38px;
                                font-size:0.9rem;
                            }
                            .author{
                                display:flex;
                                height:38px;
                                color:#A2A2A2;
                                font-size:0.85rem;
                            }
                            .price{
                                display:flex;
                                height:19px;
                                line-height:19px;
                                p:nth-of-type(1){
                                    font-size:0.93rem;
                                    text-decoration:line-through;
                                    color:#5E5E5E;
                                }
                                p:nth-of-type(2){
                                    font-size:1rem;
                                    font-weight:bold;
                                }
                            }
                        }
                    }
                }
            }
        }
        .book_detail{
            .detail_header{
                margin-top:80px;
                width:100%;
                ul{
                    display:flex;
                    li{
                        width:33.333%;
                        height:50px;
                        border:2px solid #DDDDDD;
                        background-color:#F9F9F9;
                        text-align:center;
                        line-height:50px;
                        a{
                            color:#999999;
                        }
                    }
                    li:nth-of-type(2){
                        border-right:none;
                        border-left:none;
                    }
                    .border_line_blue{
                        border-top:2px solid #0C6EAF;
                        background-color:#fff;
                        a{
                            color:#0C6EAF;
                            font-weight:bold;
                        }
                    }
                }
            }
            .book_info{
                padding:30px;
                table{
                    margin-top:15px;
                    width:100%;
                    border-top:2px solid #555555;
                    tr{
                      width:100%;
                      border-bottom:1px solid #EDEDED;
                      th{
                        width:18%;
                        height:40px;
                        background-color:#F9F9F9;
                        text-align:left;
                        padding-left:15px;
                        font-weight:lighter;
                        font-size:0.95rem;
                      }
                      td{
                        width:30%;
                        padding-left:15px;
                        font-size:0.9rem;
                        color:#333333;
                      }  
                    }
                }
            }
            .review_box{
                padding:30px;
                display:flex;
                flex-direction:column;
                .review_point{
                    align-self:flex-end;
                    font-size:0.85rem;
                    b{
                        span{
                            color:#096DAE;
                        }
                    }
                    span:hover{
                        text-decoration: underline;
                    }
                }
                .review_cont{
                    margin-top:70px;
                    .review_txt_box{
                        margin-top:20px;
                        width:100%;
                        padding : 25px 20px;
                        background-color:#F7F7F7;
                        border:1px solid #e6e6e6;
                        input{
                            width:90%;
                            height:120px;
                            text-align:left;
                            outline: none;
                            border:1px solid #e6e6e6;
                        }
                        button{
                            margin-left:20px;
                            width:90px;
                            height:40px;
                            border-radius:3px;
                            border:none;
                            background-color:#0c99d6;
                            color:#fff;
                        }
                    }
                    .reviews{
                        margin-top:50px;
                        border-top:1px solid #999999;
                        border-bottom: 1px solid #999999;
                        .reviewss{
                            width:100%;
                            height:107px;
                            border-bottom:1px solid #e6e6e6;
                            display:flex;
                            flex-direction:column;
                            padding:20px 0;
                            justify-content:space-between;
                            font-size:0.83rem;
                            .name_date{
                                display:flex;
                                p:nth-of-type(1){
                                    margin-right:50px;
                                }
                            }
                        }
                        .reviewss:last-of-type{
                            border-bottom:none;
                        }
                    } 
                    .review_star{
                        display:flex;
                        margin:60px 0;
                        .review_star_cont1{
                            width:21%;
                            height:150px;
                            display:flex;
                            flex-direction:column;
                            align-items:center;
                            justify-content:space-around;
                            h1{
                                span{
                                    font-size:0.85rem;
                                    color:#9C9F9F;
                                }
                            }
                            h3{
                                font-size:0.92rem;
                            }
                            button{
                                width:90px;
                                height:37px;
                                background-color:#0c99d6;
                                color:#fff;
                                border:none;
                                border-radius:3px;
                            }
                        }
                        .review_star_cont2{
                            display:flex;
                            flex-direction:column;
                            align-items:center;
                            justify-content:center;
                            width:46%;
                            border-right:1px solid #e6e6e6;
                            border-left:1px solid #e6e6e6;
                            height:150px;
                            .star_con{
                                display:flex;
                                font-size:0.85rem;
                                .review_rec{
                                    width:328px;
                                    height:15px;
                                    background-color:#F5F5F5;
                                    margin-left:20px;
                                }
                            }
                        }
                        .review_star_cont3{
                            width:30%;
                            height:150px;
                            display:flex;
                            flex-direction:column;
                            align-items:center;
                            justify-content:center;
                            p{
                                
                            }
                            .star_cont3_button{
                                width:90%;
                                display:flex;
                                justify-content:space-evenly;
                                height:34px;
                                margin-top:10px;
                                button{
                                    width:160px;
                                    height:34px;
                                    border:none;
                                    background-color:#c9c9c9;
                                }
                            }
                        }
                    }
                }
            }
            .policy_box{
                margin-top:20px; 
                width:100%;
                padding:30px;
                .delivery{
                    margin-bottom:50px;
                    h3{
                        color: #0C6EAF;
                        margin-bottom:20px;
                    }
                    p{
                        margin-bottom:15px;
                        font-size:0.87rem;
                        color:#808684;
                    }
                }
            }
        }
    }
}


